@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #333;
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 100px 90px 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 10px 10px 6px rgba(218, 187, 8, 0.898);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 20px;
}

.home-content h1 {
    color: #0ef;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #0ef;
}

.home-content p {
    font-size: 16px;
}

.social-media {
    letter-spacing: 10px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    background: transparent;
    border: 2px solid #0ef; 
    border-radius: 50%;
    padding-left: 10px;
    font-size: 20px; 
    color: #0ef;
    margin: 30px 15px 30px 0; 
    transition: 0.5s ease;
}

.social-media a:hover {
    background: #0ef;
    color: #323946;
    box-shadow: 0 0 10px #0ef;
}